{% extends "base.html" %}
{% block app_content %}


<style>
    div#fullpagewrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div#inputformprocess {
    padding: 50px;
    border: 3px solid #e1e1e1;
    border-radius: 20px;
    margin-right: 50px;
}
div#resultsofinference {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 3px solid #e1e1e1;
    border-radius: 20px;
    max-width: 30%;
}
div#imagewrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}
img#image {
    width: 100%;
    height: auto;
}
</style>

<div id="fullpagewrapper">
    <div id="inputformprocess">
        <p id="headingtext">Upload a file below and submit for Inference.</p>
    <!--- Input form with file upload and submit button -->
    <form id='uploaddata' method="post" enctype="multipart/form-data">
        <!--- Dropdown selector with True & False values for alpha matting --->
        <select id="alphamatting" name="alphamatting">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
        <input type="file" name="file" />
        <input id='submitforprocess' type="submit" value="Process" />
    </form>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div id="resultsofinference">
        <div id="imagewrapper">
            <img id="image" src="" alt="image" />
        </div>
        <!--- Color picker input --->
        <input type="color" id="colorpicker" value="#33ff4b" />
    </div>
</div>


<script>
    console.log('{{basedir1}}')
    //Hide spinner & resultsofinference
    $(document).ready(function() {
        $('.spinner-border').hide();
        $('#resultsofinference').hide();
    });

    //When submit button clicked, perform AJAX POST
    $('#submitforprocess').click(function(e){
        e.preventDefault();
        $('.spinner-border').show();
        //Hide form
        $('#uploaddata').hide();
        $('#resultsofinference').hide();
        var formData = new FormData($('#uploaddata')[0]);
        //If alphamatting dropdown is true
        if($('#alphamatting').val() == "True") {
            $.ajax({
            url: '/am-inference',
            type: 'POST',
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                //Remove app/ from returned string
                var imageurl = data.replace("app/", "");
                console.log(data);
                $('#image').attr('src', imageurl);
                $('.spinner-border').hide();
                $('#uploaddata').show();
                $('#resultsofinference').show();
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
        }
        //If alphamatting is False
        else{
            $.ajax({
            url: '/noam-inference',
            type: 'POST',
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                //Remove app/ from returned string
                var imageurl = data.replace("app/", "");
                console.log(data);
                $('#image').attr('src', imageurl);
                $('.spinner-border').hide();
                $('#uploaddata').show();
                $('#resultsofinference').show();
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
        }
        
    });

    //When color picker value changes, update image background-color with value
    $('#colorpicker').change(function() {
        var color = $(this).val();
        $('#image').css('background-color', color);
    });
    
</script>
{% endblock %}

